### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
/out/

### VS Code ###
.vscode/

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### OS Files ###
.DS_Store
Thumbs.db

### Miscellaneous ###
*.log
*.tmp
*.log.*

### JVM build artifacts ###
*.class
*.jar
*.war

.env
env.example

docs/tutorials/